<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Clutch</h1>
        <p>This is a place for you to make new friends while finally binge watching that show, regain an interest in past hobbies, or find someone to take your spot in Saturday's pick-up game.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">The team »</a></p>
      </div>
    </div>