<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
<body>

<div id='map' class='map'></div>

<!-- https://api.mapbox.com/v4/geocode/mapbox.places/633+folsom+street+san+francisco.json?access_token=pk.eyJ1IjoieGFuZGVycHNvbiIsImEiOiJjaWZvcml2YjU1Mnc2c3ZrcTlibmxjcXJuIn0.M7QobcyaQENSoLb86fvvug -->

</body>
