// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.leaflet-popup-content img {
  max-width:100%;
 }

.filter-ui {
	background:#fff;
	position:absolute;
	top: 6em;
	right:1em;
	z-index:100;
	padding:10px;
	border-radius:3px;
  box-shadow: 10px 10px 5px #888888;
}

#info {
  position:absolute;
  top:10%;
  left:.5%;
  height: 90%;
  width: 35%;

  background:black;
  opacity: 0.8;
  overflow: auto;

  box-shadow: 10px 10px 5px #888888;
  padding: 1em;
  color: #F9FBE7;
  text-align:center;
}

.mapbox-logo {
	display: none;
}

#sidebarEvent {
	width: 100%;
}

.leaflet-control-zoomslider {


}

#sidebarEvent {
  width: 100%;

}

.leaflet-control-zoomslider-knob {
	width:14px;
	height:6px;
}

.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
 }

 .blog-post {
    margin-left: 10%;
    margin-right:10%;
    width: 30em;
 }
