// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rsvp-button {
	margin-right: 50%;
	margin-left: 50%;
}

div#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#clutchTitle {
	color: white !important;
}

.leaflet-popup-content img {
  max-width:100%;
 }

.filter-ui {
	position:absolute;
	top: 6.5%;
	right:.1%;
	z-index:100;
	padding:10px;
	border-radius:3px;
	background:black;
  opacity: 0.8;
  color: #F9FBE7;
}

#info {
  position:absolute;
  top:6.5%;
  left:.1%;
  height: 92%;
  width: 30%;

  background:black;
  opacity: 0.8;
  overflow: auto;
  padding: 1em;
  color: #F9FBE7;
  text-align:center;
}

.mapbox-logo {
	display: none;
}

#sidebarEvent {
	width: 100%;
}

#sign-in-ajax {
	height: 10em;
	width: 10em;
	left: 50em;
	top: 17em;
	background: red;
	position: fixed;
	display: none;
}

.leaflet-control-zoomslider {


}

#sidebarEvent {
  width: 100%;

}

.leaflet-control-zoomslider-knob {
	width:14px;
	height:6px;
}

.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
 }

 .blog-post {
    margin-left: 10%;
    margin-right:10%;
    width: 30em;
 }
