<div class="navbar-right">
<ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <li><%= link_to image_tag(current_user.gravatar_url(size: 30)), user_path(current_user.id), class: "grav" %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path, class: "sign-in" %></li>
    <li><%= link_to "Sign up", new_user_registration_path, class: "sign-up" %></li>
  <% end %>
  <li class="nav-input">
    <form action="/home/team">
      <input type="submit" class = "btn btn-default" value="Meet the team">
    </form>
  </li>
</ul>
</div>

